// light theme
:root {
  --r-text-color: #{$color-black};
  --r-background-body-color: #e0f8f9;
  --r-background-content-color: #{$color-white};
  --r-box-shadow-color: #2553b91a;
  --r-scrollbar-color: #b0b0b0;
}

// dark theme
html.dark {
  --r-text-color: #{$color-white};
  --r-background-body-color: #16293e;
  --r-background-content-color: #111c2d;
  --r-box-shadow-color: #2553b91a;
  --r-scrollbar-color: #555;
}
