body {
  font-style: normal;
  font-optical-sizing: auto;
  background-color: var(--r-background-body-color);
  @include text-style;
}

body::-webkit-scrollbar {
  width: $scrollbar-width;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: var(--r-scrollbar-color);
}

h1 {
  @include text-style(48px, 800, 1.25);
}

h2 {
  @include text-style(36px, 700, 1.25);
}

h3 {
  @include text-style(30px, 700, 1.25);
}

h4 {
  @include text-style(24px, 700, 1.25);
}

h5 {
  @include text-style(20px, 700, 1.25);
}

h6 {
  @include text-style(16px, 700, 1.25);
}

p {
  @include text-style;
}

svg {
  cursor: pointer;
  outline: none;
}
